<h1>Caro <%= @user.name  %>. Bem-vindo ao sistema Tiwintter</h1>

<p>
  COnfirme sua conta clicando no botão abaixo
</p>

<%= link_to "Confirme sua conta", "link_do_meu_frotend/confirmate/?key="+@user.validate_token %>


