<h1>Caro <%= @user.name  %>. Bem-vindo ao sistema Tiwintter</h1>

<p>
  Esqueceu sua senha? Entre no link abaixo e troque!
</p>

<%= link_to "Confirme sua conta", "link_do_meu_frotend/forgot/?key="+@user.validate_token %>
